@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2.0-Medium.otf") format("opentype");
  src: url("../fonts/Exo2.0-Medium.woff") format("woff");
  src: url("../fonts/Exo2.0-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2.0-Bold.otf") format("opentype");
  src: url("../fonts/Exo2.0-Bold.woff") format("woff");
  src: url("../fonts/Exo2.0-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
* {
  font-family: Exo2, sans-serif;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 1065px;
}

.equipment {
  background: url("../img/equipment_bg.jpg") center center/cover no-repeat;
  padding: 70px 0 50px 0;
  min-height: 1253px;
}
.equipment__items {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 50px;
  flex-wrap: wrap;
}
.equipment__item {
  width: 305px;
}
.equipment__item:nth-child(n+4) {
  margin-top: 43px;
}
.equipment__item:nth-child(4) {
  margin-right: -110px;
  text-align: center;
}
.equipment__item:nth-child(2) {
  margin-right: 70px;
  margin-left: 70px;
}
.equipment__item:nth-child(3) {
  text-align: center;
}
.equipment__item img {
  display: block;
  margin: 0 auto;
}
.equipment__item-descr {
  margin-top: 25px;
  text-align: center;
  font-size: 20px;
}
.equipment__item-descr span {
  color: #012bae;
  font-size: 36px;
  font-weight: 900;
}
.equipment__title {
  font-weight: 900;
  font-size: 60px;
  color: #000;
  text-align: center;
  line-height: 60px;
}
.equipment__wrapper {
  position: relative;
}
.item_round-1, .item_round-2, .item_round-3, .item_round-5, .item_round-4 {
  width: 210px;
  height: 210px;
  border: 6px solid #fff;
  border-radius: 100%;
}

.item_round-4 {
  position: absolute;
  left: 125px;
  bottom: 250px;
  background: url("../img/before_item_4.jpg") center center/cover no-repeat;
}
.item_round-2 {
  position: absolute;
  left: 118px;
  bottom: 75px;
  background: url("../img/before_item_2.jpg") center center/cover no-repeat;
}

.item_round-3 {
  position: absolute;
  right: 180px;
  bottom: 250px;
  background: url("../img/before_item_3.jpg") center center/cover no-repeat;
}

.item_round-5 {
  position: absolute;
  right: 170px;
  bottom: -5px;
  background: url("../img/before_item_5.png") center center/cover no-repeat;
}

.item_round-1 {
  position: absolute;
  left: 152px;
  bottom: 103px;
  background: url("../img/before_item_1.jpg") center center/cover no-repeat;
}
.equipment__wrapper .link_item-4 .easyzoom-flyout {
  top: -71px;
  right: 59px;
  width: 199px;
  height: 199px;
}
.equipment__wrapper .link_item-2 .easyzoom-flyout {
  top: 94px;
  left: 103px;
  width: 199px;
  height: 199px;
}
.equipment__wrapper .link_item-3 .easyzoom-flyout {
  top: -22px;
  left: -169.5px;
  width: 199px;
  height: 199px;
}
.equipment__wrapper .link_item-5 .easyzoom-flyout {
  top: 193px;
  left: -148px;
  width: 199px;
  height: 199px;
}
.equipment__wrapper .link_item-1 .easyzoom-flyout {
  top: 21px;
  left: 137px;
  width: 199px;
  height: 199px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 850px;
  }
  .equipment {
    padding-top: 50px;
  }
  .equipment__title {
    margin-bottom: 100px;
    font-size: 54px;
  }
  .equipment__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .equipment__item:nth-child(3) {
    margin-top: 50px;
  }
  .equipment__item:nth-child(4) {
    margin-right: 0;
    margin-top: 50px;
  }
  .equipment__item:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 700px;
  }
  .equipment__title {
    font-size: 40px;
    line-height: 40px;
  }
  .equipment__item {
    width: 266px;
  }
  .equipment__item:nth-child(1) img {
    width: 232px;
    height: 329px;
  }
  .equipment__item:nth-child(2) img {
    width: 162px;
    height: 320px;
  }
  .equipment__item:nth-child(3){
    margin-right: -85px
  }
  .equipment__item:nth-child(3) img {
    width: 142px;
    height: 371px;
  }
  .equipment__item:nth-child(4) img {
    height: 336px;
    width: 163px;
  }
  .equipment__item:nth-child(5) img {
    width: 265px;
    height: 281px;
  }
  .item_round-1 {
    left: 150px;
    bottom: 90px;
  }
  .item_round-3{
    right: 170px;
    bottom: 200px;
  }
  .equipment__wrapper .link_item-4 .easyzoom-flyout {
    top: -36px;
    left: 32.2px;
    width: 67.5px;
    height: 67.5px;
    zoom: 2.5;
  }
  .equipment__wrapper .link_item-2 .easyzoom-flyout {
    top: 30.5px;
    left: 29.5px;
    width: 67.5px;
    height: 67.5px;
    zoom: 2.5;
  }
  .equipment__wrapper .link_item-3 .easyzoom-flyout {
    top: 1px;
    left: -76px;
    width: 67.5px;
    height: 67.5px;
    zoom: 2.5;
  }
  .equipment__wrapper .link_item-5 .easyzoom-flyout {
    top: 69px;
    left: -72px;
    width: 67.5px;
    height: 67.5px;
    zoom: 2.5;
  }
  .equipment__wrapper .link_item-1 .easyzoom-flyout {
    top: 8.9px;
    left: 42.4px;
    width: 67.5px;
    height: 67.5px;
    zoom: 2.5;
  }
  .item_round-1, .item_round-2, .item_round-3, .item_round-5, .item_round-4 {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 520px;
  }
  .equipment__title {
    font-size: 28px;
  }
  .equipment__item {
    width: 221px;
  }
  .equipment__item:nth-child(5) img {
    width: 210px;
    height: 223px;
  }
  .equipment__item:nth-child(2) img {
    width: 137px;
    height: 269px;
  }
  .equipment__item:nth-child(3) {
    margin-right: -40px;
  }
  .equipment__item:nth-child(3) img {
    width: 114px;
    height: 299px;
  }
  .equipment__item .link_item-5{
    left: 50px;
  }
  .equipment__item:nth-child(4) img {
    width: 131px;
    height: 269px;
  }
  .equipment__item:nth-child(1) img {
    width: 182px;
    height: 259px;
  }
  .item_round-4 {
    left: 95px;
    bottom: 175px;
  }
  .item_round-2 {
    left: 80px;
    bottom: 50px;
  }
  .item_round-3{
    right: 120px;
    bottom: 160px;
  }
  .item_round-1{
    left: 105px;
    bottom: 70px;
  }
  .item_round-5{
    right: 92px;
    bottom: 5px;
  }
  .equipment__wrapper .link_item-4 .easyzoom-flyout {
    top: -18.2px;
    left: 13.5px;
    width: 46.3px;
    height: 46.3px;
    zoom: 3;
  }
  .equipment__wrapper .link_item-2 .easyzoom-flyout {
    left: 8.5px;
    top: 26.7px;
    width: 46.3px;
    height: 46.3px;
    zoom: 3;
  }
  .equipment__wrapper .link_item-3 .easyzoom-flyout {
    left: -52.3px;
    top: 0;
    width: 46.3px;
    height: 46.3px;
    zoom: 3;
  }
  .equipment__wrapper .link_item-5 .easyzoom-flyout {
    top: 41.8px;
    left: -56.8px;
    width: 46.3px;
    height: 46.3px;
    zoom: 3;
  }
  .equipment__wrapper .link_item-1 .easyzoom-flyout {
    left: 16.9px;
    top: 4.8px;
    width: 46.3px;
    height: 46.3px;
    zoom: 3;
  }
  .equipment__item-descr {
    font-size: 20px;
  }
  .equipment__item-descr span {
    font-size: 32px;
  }
  .item_round-1, .item_round-2, .item_round-3, .item_round-5, .item_round-4 {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 315px;
  }
  .container .equipment {
    padding: 49px 0 49px 0;
  }
  .container .equipment__title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 0;
  }
  .container .equipment__items {
    flex-direction: column;
    align-items: center;
  }
  .container .equipment__item {
    width: 220px;
    margin-bottom: 26px;
  }
  .container .equipment__item:nth-child(5) {
    margin-top: 0;
  }
  .container .equipment__item:nth-child(5) img {
    width: 220px;
  }
  .container .equipment__item:nth-child(2) img {
    width: 137px;
  }
  .container .equipment__item:nth-child(3) {
    margin-top: 0;
  }
  .container .equipment__item:nth-child(3) img {
    width: 114px;
  }
  .container .equipment__item:nth-child(4) {
    margin-top: 0;
  }
  .container .equipment__item:nth-child(4) img {
    width: 131px;
  }
  .container .equipment__item:nth-child(1) {
    margin-top: 30px;
  }
  .container .equipment__item:nth-child(1) img {
    width: 182px;
  }
  .container .equipment__item-descr {
    margin-top: 21px;
    font-size: 20px;
  }
  .container .equipment__item-descr span {
    font-size: 36px;
  }
}